{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Application submitted",
      html: "Your reference number is the company number<br><strong>" + companyNumber + "</strong>"
    }) }}

    <p class="govuk-body-l">
      We've sent a confirmation email to
      <span class="govuk-body-l govuk-!-font-weight-bold">{{ userEmail }}</span>
      which contains your reference number and application information.
    </p>

    {% if authCodeFlag === true %}
    <p>You should receive the authentication code at the registered office within 5 working days.</p>
    {% endif %}

    <p class="govuk-body">
      <a href="print-application" class="govuk-link" id="print-application">View printer-friendly version</a>
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p>It will take up to 5 working days to review your application. We’ll contact you by email with our decision.
      Accepted applications normally receive an extension of 30 days.
      We may also contact you if we need more information.</p>
    <p>
      <a href="https://www.research.net/r/extensions-confirmation">What did you think of this service?</a>
      (takes 30 seconds)
    </p>
  </div>
</div>

{% endblock %}
