{% extends "layout.html" %}

{% block pageTitle %}
  Confirm the company
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirm this is the right company</h1>
      <h2 class="govuk-heading-l">{{company.companyName}}</h2>

      {{ govukSummaryList({
        rows: companySummaryListRows
      })  }}

      <form method="post">
        {{ govukButton({
          text: "Confirm",
          attributes: {
            "data-event-id": "confirm-button",
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
