{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
  Error:
  {% endif %}
    Add documents to support your application
{% endblock %}

{% block backLink %}
  {% include "parts/_back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: ERROR_SUMMARY_TITLE,
          errorList: errorList
        }) }}
      {% endif %}

      <form method="post">
        {% if errorList.length > 0 %}
          {% set supportingDocumentsError = {
            text: supportingDocumentsErr.text
           } %}
        {% else %}
          {% set supportingDocumentsError = false %}
        {% endif %}

        {% set hintHTML %}
          We'll keep anything you upload confidential.
        {% endset %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "supporting-document",
          name: "supportingDocuments",
          errorMessage: supportingDocumentsError,
          fieldset: {
          legend: {
          text: "Do you want to upload any documents to support your application?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
                    }
          },
          hint: {
            html: hintHTML
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: isYesChecked
            },
            {
              value: "no",
              text: "No",
              checked: isNoChecked
            }
          ]
          }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            "data-event-id": "continue-button",
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
