{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Extension due to ill health: Tell us about the illness
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorList.length > 0 %}
      {{ govukErrorSummary({
        titleText: ERROR_SUMMARY_TITLE,
        errorList: errorList
      }) }}
    {% endif %}
    <h1 class="govuk-heading-xl">How does this affect your ability to file on time?</h1>
    <form method="post">
      {% include "includes/csrf_token.html" %}
      {% if inputError.flag %}
        {% set errorText = {
            text: inputError.text
        } %}
      {% else %}
        {% set errorText = false %}
      {% endif %}

      {{ govukTextarea({
        name: "illnessInformation",
        id: "illness-information",
        value: information,
        rows: "8",
        label: {
          text: "Anything you tell us to support your application will be kept confidential.",
          classes: "govuk-heading-large"
        },
        errorMessage: errorText
      }) }}

      {{ govukButton({
        text: "Continue",
        attributes: {
          "data-event-id": "continue-button",
          id: "submit"
        }
      }) }}
    </form>
  </div>
</div>
</main>
</div>

{% endblock %}
