{% extends "../layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Extension due to ill health: Who was ill?
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {% include "includes/csrf_token.html" %}

        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
            titleText: ERROR_SUMMARY_TITLE,
            errorList: errorList
          }) }}
        {% endif %}

        {% if illPersonErr.flag %}
          {% set illPersonErrorMessage = {
              text: illPersonErr.text
          } %}
          {% if illPersonErr.type === "invalid" %}
            {% set otherPersonError = true %}
          {% else %}
            {% set otherPersonError = false %}
          {% endif %}
        {% else %}
          {% set illPersonErrorMessage = false %}
        {% endif %}

        {% set someoneElseInput %}
          {{ govukInput({
            id: "other-person",
            name: "otherPerson",
            value: otherPersonValue,
            classes: "",
            errorMessage: otherPersonError,
            label: {
              text: "Their relationship to the company"
            }
          }) }}
        {% endset %}

        {{ govukRadios({
          idPrefix: "ill-person",
          name: "illPerson",
          errorMessage: illPersonErrorMessage,
          fieldset: {
            legend: {
              text: "Who was ill?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Company director or officer",
              text: "A company director or other officer",
              checked: directorIsChecked
            },
            {
              value: "Company accountant or agent",
              text: "A company accountant or agent",
              checked: accountantIsChecked
            },
            {
              value: "Family member",
              text: "A family member of a company officer",
              checked: familyIsChecked
            },
            {
              value: "Company employee",
              text: "A company employee",
              checked: employeeIsChecked
            },
            {
              value: "other",
              text: "Someone else",
              checked: otherPersonChecked,
              conditional: {
                html: someoneElseInput
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            "data-event-id": "continue-button",
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
