{% extends "../layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Applying for an extension for other reasons
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set hintHTML %}
        Anything you tell us to support your appeal will be kept confidential.
      {% endset %}
      <form method="post">
        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
            titleText: ERROR_SUMMARY_TITLE,
            errorList: errorList
          }) }}
        {% endif %}

        <h1 class="govuk-heading-xl">Provide more information to support your application</h1>
        <p class="govuk-body-l">Anything you tell us to support your application will be kept confidential.</p>

        {{ govukInput({
          id: "otherReason",
          name: "otherReason",
          value: otherReason,
          errorMessage: otherReasonErr,
          classes: "",
          attributes: {
            "data-event-id": "other-reason-input"
          },
            label: {
            text: "Short title for the reason"
          }
        }) }}

        {{ govukTextarea({
          id: "otherInformation",
          name: "otherInformation",
          value: otherInformation,
          errorMessage: otherInformationErr,
          rows: "8",
          attributes: {
          "data-event-id": "other-reason-information-input"
          },
          label: {
            text: "Detailed description of the reason",
            classes: "govuk-heading-large"
          }
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            "data-event-id": "continue-button",
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
