{% extends "../layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Applying for an extension for other reasons
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/extensions/back-link",
    attributes: {
      "data-event-id": "back-button"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set hintHTML %}
        Anything you tell us to support your appeal will be kept confidential.
      {% endset %}
      <form method="post">
        {% if errorList.length > 0 %}
          {{ govukErrorSummary({
            titleText: ERROR_SUMMARY_TITLE,
            errorList: errorList
          }) }}
        {% endif %}

        <h1 class="govuk-heading-xl">Provide more information to support your application</h1>
        <p class="govuk-body-l">Anything you tell us to support your application will be kept confidential.</p>

        {{ govukInput({
          id: "other-reason",
          name: "otherReason",
          value: reasonTitle,
          errorMessage: otherReasonErr,
          classes: "",
          attributes: {
            "data-event-id": "other-reason-input"
          },
            label: {
            text: "Short title for the reason"
          }
        }) }}


        {{ govukTextarea({
          name: "otherInformation",
          id: "other-information",
          value: information,
          errorMessage: otherInformationErr,
          rows: "8",
          label: {
            text: "Detailed description of the reason",
            isPageHeading: true,
            classes: "govuk-heading-large"
          }
        }) }}
        {{ govukButton({
           text: "Continue",
          attributes: {
            "data-event-id": "continue-button",
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
